*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body {
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    width:100vw;
    background-color: white;
    background-image: url("https://image.freepik.com/free-vector/geometric-grey-background_1055-3147.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header {
    padding :30px 0;
}

.header h2 {
    color:#222;
    font-size:24px;
    text-transform: uppercase;
    text-align:center;
}

.btn {
   
    border-radius: 7px;
    border-color:black;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 1s ease;
    width: 100px;
    padding: 10px;
    text-align: center;
}

.form{
    max-width: fit-content;
    max-height: fit-content;
}

.form1{
    margin-bottom:20px;
    position:relative;
}

.form1 label{
    display: inline-block;
    margin-bottom:5px;
    margin-right: 80px;
    font-weight: 700;

}

.form1 input{
    border:2px solid blue;
    padding:3px;
    border-radius:5px;
    display: 5px;
}
.form1 i{
    display: inline;
    margin-left:-24px;
    margin-right: 5px;
    visibility:hidden;
     
     }
 .form .btn:hover{
     background-color: green;
     color: white;
 }    
 @media(max-width:998px)
 {
     .containers{
         width: calc(100vw- 35vw);
     }
 }

.form1 input:focus{
    border-color: black;
  outline: 0;
  
}



.form1.success input{
    border-color: green;
  }

  
.form1.error input{
    border-color: red;
  }

     .form1 .error small{
        visibility:visible;
        color: red;
         }   
  
     .form1.success i.fa-check-circle{
         color:green;
         visibility:visible;
     }
     .form1.error i.fa-exclamation-circle{
        color:red;
        visibility:visible;
    }
